<!DOCTYPE html>
    <html>
        <body>
            <head></head>
            <h1>Create an Account</h1>
            <div>
                <div>
                    <%= form_with model: @user, url: '/users', method: 'post' do |form| %>
                        <p>Full Name: <%= form.text_field :name %></p>
                        <p>User Name: <%= form.text_field :userName %></p>
                        <p>Password:  <%= form.text_field :password %></p>
                        <p>Confirm Password:  <%= form.text_field :password2%></p>
                        <%= form.submit %>
                    <% end %>
                </div>
            </div>
        </body>
    </html>