<!DOCTYPE html>
    <html>
        <head>
            <style>

            </style>
        </head>
            <body>
                <div>
                    <div><h1><%= @user.name %></h1></div>
                    <div><h4>User Name: <%= @user.userName %></h4></div>
                    <div><h4>Favorites: <% if @user.favorites.length == 0 %><%= "No favorites yet!" %>
                                        <% else %><%= @user.favorites %>
                                        <% end %></h4></div>
                    <div><h4>Reviewed Movies: <% if @user.reviews.length == 0 %><%= "No Reviews yet!" %>
                                        <% else %><ul><% @user.reviews.each do |review| %>
                                            <li><%= link_to "#{review.movie.title}", "../reviews/#{review.id}" %></li>
                                            <% end %>
                                        <% end %></ul></h4></div>
                    <!-- POTENTIAL AVATAR <div class="image"><img src=" had to remove the ERB due to commenting? " height="300"></div> -->
                </div>
                <div>
                    <%= link_to "Create Review?", new_review_path %><br />
                    <%= link_to "View Movies", movies_path %>
                </div>
            </body>
    </html>