<!DOCTYPE html>
    <html>
        <body>
            <head></head>
            <div>
                <div>
                    <%= form_with model: @movie, url: '/movies', method: 'post' do |form| %>
                        <p>Title: <%= form.text_field :title %></p>
                        <p>Description:  <%= form.text_area :description, size: "60x12" %></p>
                        <p>MPAA Rating:  <%= form.text_field :mpaa %></p>
                        <p>Release Date:  <%= form.text_field :released %></p>
                        <p>Poster URL:  <%= form.text_field :posterURL %></p>
                        <p>YouTube URL:  <%= form.text_field :trailerURL %></p>
                        <p>How many stars? <%= select_tag(:stars, options_for_select([1,2,3,4,5])) %></p>
                        <%= form.submit %>
                    <% end %>
                </div>
            </div>
        </body>
    </html>