<!DOCTYPE html>
    <html>
        <head></head>
            <body>
                <div><h1>Please Login</h1></div>
                    <div>
                        <%= form_with url: '/users' do |form| %>
                            <%= form.label :userName %>
                            <p><%= form.text_field :userName %></p>
                            <p><%= form.label :password %></p>
                            <p><%= password_field_tag(:password) %>
                            <p><%= form.submit "Login" %></p>
                        <% end %>
                        <h4>New User? <%= link_to 'Sign Up!', new_user_path(@user) %></h4>
                    </div>
            </body>
    </html>